
#container{
  display: flex;
  height: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#butao{
  background-color: #61dafb;
}

#surpresa{
  height: 200px;
  width: 200px;
  background-color: blueviolet;
}